/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * canada-type-gibson:
 *   - http://typekit.com/eulas/0000000000000000775a92b2
 *   - http://typekit.com/eulas/0000000000000000775a92ae
 *   - http://typekit.com/eulas/00000000000000007759afc8
 *   - http://typekit.com/eulas/0000000000000000775a92b9
 *   - http://typekit.com/eulas/0000000000000000775a92bb
 *   - http://typekit.com/eulas/00000000000000007759afd3
 *   - http://typekit.com/eulas/0000000000000000775a92b0
 *   - http://typekit.com/eulas/0000000000000000775a92b5
 *   - http://typekit.com/eulas/0000000000000000775a92b4
 *   - http://typekit.com/eulas/0000000000000000775a92b1
 *   - http://typekit.com/eulas/0000000000000000775a92bd
 *   - http://typekit.com/eulas/0000000000000000775a92bc
 *   - http://typekit.com/eulas/0000000000000000775a92b3
 *   - http://typekit.com/eulas/0000000000000000775a92ba
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2025-11-11 19:27:39 UTC"}*/

@font-face {
font-family:"canada-type-gibson";
src:url("af/46250a/0000000000000000775a92b2/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("af/46250a/0000000000000000775a92b2/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("af/46250a/0000000000000000775a92b2/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/95c12b/0000000000000000775a92ae/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("af/95c12b/0000000000000000775a92ae/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("af/95c12b/0000000000000000775a92ae/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/07547d/00000000000000007759afc8/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("af/07547d/00000000000000007759afc8/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("af/07547d/00000000000000007759afc8/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/bbdfca/0000000000000000775a92b9/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("af/bbdfca/0000000000000000775a92b9/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("af/bbdfca/0000000000000000775a92b9/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/984d6f/0000000000000000775a92bb/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("af/984d6f/0000000000000000775a92bb/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("af/984d6f/0000000000000000775a92bb/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/b00ba4/00000000000000007759afd3/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("af/b00ba4/00000000000000007759afd3/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("af/b00ba4/00000000000000007759afd3/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/ce8cbe/0000000000000000775a92b0/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("af/ce8cbe/0000000000000000775a92b0/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("af/ce8cbe/0000000000000000775a92b0/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/9f6efe/0000000000000000775a92b5/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("af/9f6efe/0000000000000000775a92b5/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("af/9f6efe/0000000000000000775a92b5/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/545165/0000000000000000775a92b4/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("af/545165/0000000000000000775a92b4/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("af/545165/0000000000000000775a92b4/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/4b8549/0000000000000000775a92b1/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("af/4b8549/0000000000000000775a92b1/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("af/4b8549/0000000000000000775a92b1/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/4475f4/0000000000000000775a92bd/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("af/4475f4/0000000000000000775a92bd/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("af/4475f4/0000000000000000775a92bd/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/5fabf3/0000000000000000775a92bc/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("af/5fabf3/0000000000000000775a92bc/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("af/5fabf3/0000000000000000775a92bc/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/cfaa87/0000000000000000775a92b3/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("af/cfaa87/0000000000000000775a92b3/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("af/cfaa87/0000000000000000775a92b3/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"canada-type-gibson";
src:url("af/2d5689/0000000000000000775a92ba/31/l%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("af/2d5689/0000000000000000775a92ba/31/d%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("af/2d5689/0000000000000000775a92ba/31/a%EF%B9%96primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }
